html, body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  width: 100%;
  background: #fff;
}

ul {
  list-style-type: none;
}

a, img, h1, h2, h3, h4, li, ul{
  margin: 0;
  padding: 0;
}

p {
  color: #0d113d;
  font: 300 15px/26px 'Montserrat', sans-serif;
  margin: 0;
}